header{
   background-color: rgb(86, 86, 86);
   padding: 8px 24px;
   border-radius: 0px 10px 0px 10px ;
   border: 3px solid rgb(68, 68, 68);
   align-items: center;
   display: flex;  /* deixa flexivel, flutuando, tira o display block */
   flex-wrap: wrap;
   justify-content: space-around; /* coloca espaçamento em todos os itens */
   row-gap: 8px; /*espaço entre as linhas*/
   column-gap: 8px; /*espaço entre as colunas */
   font-family: sans-serif;
  
}



header ul{
   list-style: none;
   display: flex;
   margin-right: 30px;
}

header ul li + li{ /*coloca margin apenas na li que possuí itens ao lado*/
   margin-left: 34px;
}

header  a {
   color: white;
   text-decoration: none;
   transition: color 0.6s; /* tempo que demora para mudar de branco para vermelho*/
}

header a:hover{ /*captura quando o mouse passa em cima da lista e muda a cor*/
  color: rgb(44, 148, 233) ; 
   text-decoration: underline; /* Adiciona um traço embaixo do texto quando o mouse passa sobre o link */
   text-underline-offset: 0.9em; /* Ajusta a distância entre o texto e a linha */
   text-decoration-thickness: 0.1em; /* Ajusta a espessura da linha */
   
}


.bordas {
    max-width: 935px; /* ocupa 1200px da tela */
    border: 3px solid rgb(68, 68, 68);
    border-radius: 0px 10px 0px 10px ;
    padding-left: 10px;
    padding: 10px 10px 10px 10px;
    padding-bottom: 6px;
    padding-top: 20px;
    background-color: rgb(86, 86, 86);
    margin-top: 20px;
    color: white;
 }
 
 h1 {
    font-family: sans-serif;
    color: white;
  
 }

 
 
 .b {
    border: 3px solid rgb(94, 94, 94);
    transition: transform 0.3s ease;
  }
  
  /* Quando o mouse estiver sobre a imagem, aplique uma escala menor */
  .b:hover {
    transform: scale(1.15);
  }
 
  img{
   border-radius: 15%;
     width: 250px;
     height: 250px;
    margin: 25px 25px 25px 20px;
   
 }
 
 body{
    font-family:  sans-serif;
     background: linear-gradient(to top, rgb(255, 255, 255), rgb(44, 148, 233)  ); 
 }
 
 /* Footer e redes sociais */
 
 footer {
    max-width: 850px; /* ocupa 835px da tela */
    border: 3px solid rgb(94, 94, 94);
    background-color: rgb(86, 86, 86);
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 20px; /* Margem inferior para distanciar do conteúdo abaixo */
 }
 
 .redes-sociais {
    margin-bottom: 15px;
  
 }
 
 .redes-sociais a {
    margin-right: 10px;
 
 }
 
 .redes-sociais img {
    width: 30px; /* Ajuste conforme necessário */
    height: 30px; /* Ajuste conforme necessário */
 }
 