.bordas {
   max-width: 835px; /* ocupa 1200px da tela */
   border: 3px solid rgb(96, 2, 52);
   border-radius: 0px 10px 0px 10px ;
   padding-left: 10px;
   padding: 10px 10px 10px 10px;
   padding-bottom: 6px;
   padding-top: 20px;
   background-color: rgb(211, 44, 136);
}


.h1 {
   font-family: Algerian, sans-serif;
}

.b {
   border: 3px solid black;
   transition: transform 0.3s ease;
 }
 
 /* Quando o mouse estiver sobre a imagem, aplique uma escala menor */
 .b:hover {
   transform: scale(1.15);
 }

 img{
  border-radius: 15%;
    width: 250px;
    height: 250px;
   margin: 25px 25px 25px 20px;
  
}

body{
   font-family: Algerian, sans-serif;
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(44, 148, 233)  ); 
}

/* Footer e redes sociais */

footer {
   max-width: 835px; /* ocupa 835px da tela */
   border: 3px solid rgb(96, 2, 52);
   background-color: rgb(211, 46, 134);
   padding: 20px;
   text-align: center;
   color: white;
   border-radius: 10px;
   padding-left: 10px;
}

.redes-sociais {
   margin-bottom: 15px;
}

.redes-sociais a {
   margin-right: 10px;
}

.redes-sociais img {
   width: 30px; /* Ajuste conforme necessário */
   height: 30px; /* Ajuste conforme necessário */
}

