.bordas {
   max-width: 835px; /* ocupa 1200px da tela */
   border: 2px solid black;
   border-radius: 0px 10px 0px 10px ;
   padding-left: 10px;
   padding: 10px 10px 10px 10px;
   padding-bottom: 6px;
   padding-top: 20px;
   background-color: rgb(113, 66, 20);
}
.b {
   border: 3px solid black;
   transition: transform 0.3s ease;
 }
 
 /* Quando o mouse estiver sobre a imagem, aplique uma escala menor */
 .b:hover {
   transform: scale(1.15);
 }

 img{
  border-radius: 15%;
    width: 250px;
    height: 250px;
   margin: 25px 25px 25px 20px;
  
}

body{
    font-family: sans-serif;
    background: linear-gradient(to top, rgb(208,132,56), rgb(221, 177, 18)  ); 
}

/* Footer e redes sociais */

footer {
   max-width: 835px; /* ocupa 835px da tela */
   border: 2px solid black;
   background-color: rgb(113, 66, 20);
   padding: 20px;
   text-align: center;
   color: white;
   border-radius: 10px;
   padding-left: 10px;
}

.redes-sociais {
   margin-bottom: 15px;
}

.redes-sociais a {
   margin-right: 10px;
}

.redes-sociais img {
   width: 30px; /* Ajuste conforme necessário */
   height: 30px; /* Ajuste conforme necessário */
}





